

@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* colour scheme */

:root {
  --primaryColor: #1E201E ;
  --complementaryColor: #c6e2e9;
  --brandColor:#DAB894;
}

body{
  /* box-sizing: border-box; */
  background-color: var(--brandColor);
 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* search function */

.search {
  font-size: 3rem;
  color: white;
}

/* galleries sections containers */

#gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) ;
  margin: 10px;
  grid-gap: 65px;
  color: white;
}

#gallery h2{
  font-size: 20px;
  margin-bottom: 0px;
  
  }
  
  #gallery a {
    font-size: 25px;
    color: #D9FF5C;
    text-decoration: none;
    
    }

#galleryrandom{

    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) ;
    margin: 10px;
    grid-gap: 65px;
    color: white;
  }

  #galleryrandom h2{
    font-size: 20px;
    margin-bottom: 0px;
  }

  #galleryrandom a {
    font-size: 25px;
    color: #D9FF5C;
    text-decoration: none;
    
    }



  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid #D9FF5C;
    border-radius: 8px;
   
  }
  

 

section{
  min-height:100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}


.container{
  background-color: #1E201E;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  overflow: auto;
}


/* fonts */

.heading h1{

  font-size: 6rem;
  font-weight: 700;
  letter-spacing: -2px;
  color: #DAB894;
}

.heading h2{

  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: -1px;
  color: #DAB894;
  
}

.msg h3{
  
  color: #ef86ec;
  font-size: 1.5rem;
}

.msgone h3{
  
  color: #ef86ec;
  font-size: 1.5rem;
}

html{
  font-family: 'quattrocento', sans-serif;
  font-size: 10px;
}




/* contact Me button */


#contactMe{
  
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #3D4235;
  position: relative;
  margin-bottom: 25px;

}

.contactBtn {
  cursor: pointer;
  border: 5px solid #eeebe7;
  border-radius: 8px;
  font-size: 20px;
  padding: 8px 10px;
  /* margin: 20px 20px; */
  color: #EEEBE7;
  background-color: #1e201e;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;

}

/* Input and Search */

input{
  border: none;
  border-bottom: 3px solid #D9FF5C;
  font-size: 20px;
  width: 100%;
  outline: none;
  margin-top: 30px;
  background-color: #1E201E;
  padding: 10px 20px;
}


input[type='text'] {
  width: 400px;
  background-color: transparent;
  text-align: center;
  color: #D9FF5C;
  font-size: 25px;
}

/* Buttons */

button {
  border: 3px solid #EEEBE7;
  border-radius: 8px;
  font-size: 14px;
  padding: 8px 10px;
  margin: 20px 20px;
  color: #EEEBE7;
  background-color: #3D4235;
}

.search {
  float: right;
  font-size: 40px;
}



.searchBtn {
  cursor: pointer;
  border: 5px solid #EEEBE7;
  border-radius: 8px;
  font-size: 20px;
  padding: 8px 10px;
  margin: 20px 20px;
  color: #EEEBE7;
  background-color: #3D4235;
  

}

.makeBtn {
  cursor: pointer;
  border: 5px solid #EEEBE7;
  border-radius: 8px;
  font-size: 15px;
  padding: 8px 10px;
  /* margin: 20px 20px; */
  color: #EEEBE7;
  background-color: #3D4235;
  

}



.btn {
  
  display: inline-block;
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;
  border: 5px solid #3D4235;
  color: #3D4235;
  border-radius: 8px;
  font-size: 20px;
  padding: 8px 10px;
  margin: 20px 20px;
  background-color: #D9FF5C;
  
}

/* Information */


/* .ingredient-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;
  opacity: 0;
} */
/* 
.ingredient:hover .ingredient-info {
  opacity: 1;
} */

#drinkResult {
  
  line-height: 2em;
  margin-bottom: 20px;
  
}

#drinkResult img {
  width: 50%;
  height: 50%;
  object-fit: 80%;
  border: 5px solid #DAB894;
  border-radius: 10px;
  /* padding: 10px 10px; */
}
#drinkResult h2 {
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #3D4235;
  position: relative;
  margin-bottom: 20px;
  }



  #instructions {
    font-size: 15px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #3D4235;
  position: relative;
  margin-bottom: 10px;
  }

  /* #ingredientResult img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid #DAB894;
  border-radius: 8px;
  padding: 10px 10px;
  } */

  #ingredientresult ul {
    margin-bottom: 1em;
    margin-left: 1.8em;
    display: grid;
    grid-template-columns: auto auto;
  }
  #ingredientresult li {
    margin-bottom: 0.3em;
  }
  #ingredientresult p {
    text-align: justify;
    font-weight: 400;
    font-size: 0.95em;
  }
  

  /* footer */

  #footer .footerstyle  ul {
    list-style: none ;
    align-items: center;
    display: flex;
    text-decoration: none;
    flex-direction: row;

  }
  
  #footer .footerstyle  ul li a {
    padding: 0.5rem;
    align-content: center;
    list-style: none ;
    text-decoration: none;
    
  }
  
  
  #footer .footerstyle  a {
    text-decoration: none;
    color: #1E201E;
    list-style: none;
    font-size: 2rem;
    text-decoration: none;
  }
  
  #footer .flex-container {
    display: flex;
    flex-direction: row;
    list-style: none;
   align-self: center;
   text-decoration: none;
    
  }

  @media only screen and (min-width: 900px){
    .container{
      max-width: 1000px;
      padding: 50px;
    }
    .header{
      flex-direction: row;
      justify-content: space-between;
    }
    .header h1{
      font-size: 50px;
    }
    .header input{
      font-size: 24px;
    }
    .header ion-icon{
      font-size: 24px;
    }
    /* .gallery{
      grid-gap: 30px;
    }
     */
   }


/* .item{
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius:8px;
  transition: .3s ease box-shadow;
  padding: 5px;
  margin-bottom: 15px;
} */

/* .item:nth-last-child(1){
  margin-bottom: 0;
}

.item h3{
  width: 100%;
  padding: 20px;
  position: absolute;
  background-color: #00000040;
  color: #1E201E;
  bottom: -70px;
  font-weight: 300;
  transition: .5s ease-in-out bottom;
  font-size: 15px;
  margin-bottom: 20px;

}
.item:hover h3{
  bottom: 0;
} */


/* #card{

  margin: auto;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #DAB894;
  padding-top: 15px;
  border-radius: 10px;
  margin-bottom: 30px;

} */

/* Contact Info */